<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        #error {
            display: block;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
            color: #721c24;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Lingo</h1>
    </header>
    <main>
        <code id="error">
            {{ block "content" . }}{{ end }}
        </code>
    </main>
    <footer>
        <p>{{ .Year }}</p>
    </footer>
</body>
</html>