<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        .error {
            display: block;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
            color: #721c24;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>login</h1>
    </header>
    <main>
        <div class="login">
            <form action="/login" method="post">
                <label for="email">email:</label>
                <input type="email" id="email" name="email">
                <br />
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br />
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; {{ .Year }}</p>
    </footer>
</body>
</html>
